/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Poppins" !important;
  transition: 0.5s;
}
* {
  margin: 0;
  outline: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0 !important;
}
